*.zip
*.pyc
*.log
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dymosim.exe
buildlog.txt
/ProblemToBeSolvedASAP.py
/Subfolder/SubfolderForArray_Big/Array_Big.mat
/Test_save.dat
/SpeedInvestigations.xlsx
*.dat
*.h5
/outputfile.txt
/doc/build
/doc/Makefile
/doc/make.bat
/tests/SpeedInvestigations.xlsx
/doc/Untitled0.ipynb