*.zip
*.pyc
*.log
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dymosim.exe
buildlog.txt
/ProblemToBeSolvedASAP.py
/Subfolder/SubfolderForArray_Big/Array_Big.mat
/Test_save.dat
/SpeedInvestigations.xlsx
*.dat
*.h5
/outputfile.txt
/doc/make.bat
/tests/SpeedInvestigations.xlsx
/doc/Untitled0.ipynb
/tests/SSB_files/SSB_5_HeatingCurve_F24H.mat
/tests/SSB_files/SSB_6_HeatingCurve_Ref - Copy.mat
/tests/SSB_files/TME_SSB_5_34degdata.mat
/tests/SSB_files/TME_SSB_5_DayTime_5000W_R10_3.mat
/tests/SSB_files/TME_SSB_5_DayTime_5000W_R10_4.mat
/tests/SSB_files/TME_SSB_5_DayTime_R5_1.mat
/tests/SSB_files/TME_SSB_5_DayTime_R5_2.mat
/tests/SSB_files/TME_SSB_5_DayTime_R5_3.mat
/tests/SSB_files/TME_SSB_5_DayTime_R5_4.mat
/tests/SSB_files/TME_SSB_5_DayTime_R5_5.mat
/tests/SSB_files/TME_SSB_5_GridLoad_4.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_19.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_20.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_1.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_2.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_3.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_4.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_5.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_6.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_7.mat
/tests/SSB_files/TME_SSB_5_GridLoad_5000W_B3000_8.mat
/tests/SSB_files/TME_SSB_5_HeatingCurve_4000W_Ref.mat
/tests/SSB_files/TME_SSB_6_DayTime_4.mat
/tests/SSB_files/TME_SSB_6_DayTime_R5_4.mat
/tests/SSB_files/TME_SSB_6_GridLoad_3.mat
/tests/SSB_files/TME_SSB_6_GridLoad_4.mat
